In [1]:
%load_ext lab_black
%matplotlib inline

In [2]:
import pandas as pd
import geopandas as gpd
from cartopy import crs as ccrs
import matplotlib.pyplot as plt

In [3]:
path = gpd.datasets.get_path("naturalearth_lowres")
gdf = gpd.read_file(path)

In [ ]:
url = "https://datahub.io/core/geo-countries/r/countries.geojson"
gdf2 = gpd.read_file(url)
gdf2.head()

In [4]:
zip_url = "ne_10m_admin_0_countries.zip" # https://www.naturalearthdata.com/downloads/10m-cultural-vectors/10m-admin-0-countries/
member_states = "states.csv"

In [5]:
gdf3 = gpd.read_file(zip_url)

In [6]:
gdf3.head()

,featurecla,scalerank,LABELRANK,SOVEREIGNT,SOV_A3,ADM0_DIF,LEVEL,TYPE,TLC,ADMIN,...,FCLASS_TR,FCLASS_ID,FCLASS_PL,FCLASS_GR,FCLASS_IT,FCLASS_NL,FCLASS_SE,FCLASS_BD,FCLASS_UA,geometry
0,Admin-0 country,0,2,Indonesia,IDN,0,2,Sovereign country,1,Indonesia,...,None,None,None,None,None,None,None,None,None,"MULTIPOLYGON (((117.70361 4.16341, 117.70361 4..."
1,Admin-0 country,0,3,Malaysia,MYS,0,2,Sovereign country,1,Malaysia,...,None,None,None,None,None,None,None,None,None,"MULTIPOLYGON (((117.70361 4.16341, 117.69711 4..."
2,Admin-0 country,0,2,Chile,CHL,0,2,Sovereign country,1,Chile,...,None,None,None,None,None,None,None,None,None,"MULTIPOLYGON (((-69.51009 -17.50659, -69.50611..."
3,Admin-0 country,0,3,Bolivia,BOL,0,2,Sovereign country,1,Bolivia,...,None,None,None,None,None,None,None,None,None,"POLYGON ((-69.51009 -17.50659, -69.51009 -17.5..."
4,Admin-0 country,0,2,Peru,PER,0,2,Sovereign country,1,Peru,...,None,None,None,None,None,None,None,None,None,"MULTIPOLYGON (((-69.51009 -17.50659, -69.63832..."

In [7]:
gdf3["SOVEREIGNT"].unique()

array(['Indonesia', 'Malaysia', 'Chile', 'Bolivia', 'Peru', 'Argentina',
       'United Kingdom', 'Cyprus', 'India', 'China', 'Israel', 'Lebanon',
       'Ethiopia', 'South Sudan', 'Somalia', 'Kenya', 'Malawi',
       'United Republic of Tanzania', 'Syria', 'Somaliland', 'France',
       'Suriname', 'Guyana', 'South Korea', 'North Korea', 'Morocco',
       'Western Sahara', 'Costa Rica', 'Nicaragua',
       'Republic of the Congo', 'Democratic Republic of the Congo',
       'Bhutan', 'Ukraine', 'Belarus', 'Namibia', 'South Africa',
       'Netherlands', 'Oman', 'Uzbekistan', 'Kazakhstan', 'Tajikistan',
       'Lithuania', 'Brazil', 'Uruguay', 'Mongolia', 'Russia', 'Czechia',
       'Germany', 'Estonia', 'Latvia', 'Norway', 'Sweden', 'Finland',
       'Vietnam', 'Cambodia', 'Luxembourg', 'United Arab Emirates',
       'Belgium', 'Georgia', 'North Macedonia', 'Albania', 'Azerbaijan',
       'Kosovo', 'Turkey', 'Spain', 'Laos', 'Kyrgyzstan', 'Armenia',
       'Denmark', 'Libya', 'Tunisia', 'Romania', 'Hungary', 'Slovakia',
       'Poland', 'Ireland', 'Greece', 'Zambia', 'Sierra Leone', 'Guinea',
       'Liberia', 'Central African Republic', 'Sudan', 'Djibouti',
       'Eritrea', 'Austria', 'Iraq', 'Italy', 'Switzerland', 'Iran',
       'Liechtenstein', 'Ivory Coast', 'Republic of Serbia', 'Mali',
       'Senegal', 'Nigeria', 'Benin', 'Angola', 'Croatia', 'Slovenia',
       'Qatar', 'Saudi Arabia', 'Botswana', 'Zimbabwe', 'Pakistan',
       'Bulgaria', 'Thailand', 'San Marino', 'Haiti',
       'Dominican Republic', 'Chad', 'Kuwait', 'El Salvador', 'Guatemala',
       'East Timor', 'Brunei', 'Monaco', 'Algeria', 'Mozambique',
       'eSwatini', 'Burundi', 'Rwanda', 'Myanmar', 'Bangladesh',
       'Andorra', 'Afghanistan', 'Montenegro', 'Bosnia and Herzegovina',
       'Uganda', 'Cuba', 'Honduras', 'Ecuador', 'Colombia', 'Paraguay',
       'Brazilian Island', 'Portugal', 'Moldova', 'Turkmenistan',
       'Jordan', 'Nepal', 'Lesotho', 'Cameroon', 'Gabon', 'Niger',
       'Burkina Faso', 'Togo', 'Ghana', 'Guinea-Bissau',
       'United States of America', 'Canada', 'Mexico', 'Belize', 'Panama',
       'Venezuela', 'Papua New Guinea', 'Egypt', 'Yemen', 'Mauritania',
       'Equatorial Guinea', 'Gambia', 'Vatican', 'Northern Cyprus',
       'Cyprus No Mans Area', 'Kashmir', 'Southern Patagonian Ice Field',
       'Bir Tawil', 'Antarctica', 'Australia', 'Fiji', 'New Zealand',
       'Madagascar', 'Philippines', 'Sri Lanka', 'The Bahamas', 'Taiwan',
       'Japan', 'Iceland', 'Seychelles', 'Kiribati', 'Marshall Islands',
       'Trinidad and Tobago', 'Grenada',
       'Saint Vincent and the Grenadines', 'Barbados', 'Saint Lucia',
       'Dominica', 'Antigua and Barbuda', 'Saint Kitts and Nevis',
       'Jamaica', 'Mauritius', 'Comoros', 'SÃ£o TomÃ© and Principe',
       'Cabo Verde', 'Malta', 'Singapore', 'Tonga', 'Samoa',
       'Solomon Islands', 'Tuvalu', 'Maldives', 'Nauru',
       'Federated States of Micronesia', 'Vanuatu', 'Palau', 'Bahrain',
       'Spratly Islands', 'Bajo Nuevo Bank (Petrel Is.)',
       'Serranilla Bank', 'Scarborough Reef'], dtype=object)

In [7]:
gdf.query("continent == 'Europe'").head()

,pop_est,continent,name,iso_a3,gdp_md_est,geometry
18,144373535.0,Europe,Russia,RUS,1699876,"MULTIPOLYGON (((178.72530 71.09880, 180.00000 ..."
21,5347896.0,Europe,Norway,NOR,403336,"MULTIPOLYGON (((15.14282 79.67431, 15.52255 80..."
43,67059887.0,Europe,France,FRA,2715518,"MULTIPOLYGON (((-51.65780 4.15623, -52.24934 3..."
110,10285453.0,Europe,Sweden,SWE,530883,"POLYGON ((11.02737 58.85615, 11.46827 59.43239..."
111,9466856.0,Europe,Belarus,BLR,63080,"POLYGON ((28.17671 56.16913, 29.22951 55.91834..."

In [8]:
gdf.query("continent == 'Europe'")["name"].unique()

array(['Russia', 'Norway', 'France', 'Sweden', 'Belarus', 'Ukraine',
       'Poland', 'Austria', 'Hungary', 'Moldova', 'Romania', 'Lithuania',
       'Latvia', 'Estonia', 'Germany', 'Bulgaria', 'Greece', 'Albania',
       'Croatia', 'Switzerland', 'Luxembourg', 'Belgium', 'Netherlands',
       'Portugal', 'Spain', 'Ireland', 'Italy', 'Denmark',
       'United Kingdom', 'Iceland', 'Slovenia', 'Finland', 'Slovakia',
       'Czechia', 'Bosnia and Herz.', 'North Macedonia', 'Serbia',
       'Montenegro', 'Kosovo'], dtype=object)

In [9]:
gdf["name"].unique()

array(['Fiji', 'Tanzania', 'W. Sahara', 'Canada',
       'United States of America', 'Kazakhstan', 'Uzbekistan',
       'Papua New Guinea', 'Indonesia', 'Argentina', 'Chile',
       'Dem. Rep. Congo', 'Somalia', 'Kenya', 'Sudan', 'Chad', 'Haiti',
       'Dominican Rep.', 'Russia', 'Bahamas', 'Falkland Is.', 'Norway',
       'Greenland', 'Fr. S. Antarctic Lands', 'Timor-Leste',
       'South Africa', 'Lesotho', 'Mexico', 'Uruguay', 'Brazil',
       'Bolivia', 'Peru', 'Colombia', 'Panama', 'Costa Rica', 'Nicaragua',
       'Honduras', 'El Salvador', 'Guatemala', 'Belize', 'Venezuela',
       'Guyana', 'Suriname', 'France', 'Ecuador', 'Puerto Rico',
       'Jamaica', 'Cuba', 'Zimbabwe', 'Botswana', 'Namibia', 'Senegal',
       'Mali', 'Mauritania', 'Benin', 'Niger', 'Nigeria', 'Cameroon',
       'Togo', 'Ghana', "CÃ´te d'Ivoire", 'Guinea', 'Guinea-Bissau',
       'Liberia', 'Sierra Leone', 'Burkina Faso', 'Central African Rep.',
       'Congo', 'Gabon', 'Eq. Guinea', 'Zambia', 'Malawi', 'Mozambique',
       'eSwatini', 'Angola', 'Burundi', 'Israel', 'Lebanon', 'Madagascar',
       'Palestine', 'Gambia', 'Tunisia', 'Algeria', 'Jordan',
       'United Arab Emirates', 'Qatar', 'Kuwait', 'Iraq', 'Oman',
       'Vanuatu', 'Cambodia', 'Thailand', 'Laos', 'Myanmar', 'Vietnam',
       'North Korea', 'South Korea', 'Mongolia', 'India', 'Bangladesh',
       'Bhutan', 'Nepal', 'Pakistan', 'Afghanistan', 'Tajikistan',
       'Kyrgyzstan', 'Turkmenistan', 'Iran', 'Syria', 'Armenia', 'Sweden',
       'Belarus', 'Ukraine', 'Poland', 'Austria', 'Hungary', 'Moldova',
       'Romania', 'Lithuania', 'Latvia', 'Estonia', 'Germany', 'Bulgaria',
       'Greece', 'Turkey', 'Albania', 'Croatia', 'Switzerland',
       'Luxembourg', 'Belgium', 'Netherlands', 'Portugal', 'Spain',
       'Ireland', 'New Caledonia', 'Solomon Is.', 'New Zealand',
       'Australia', 'Sri Lanka', 'China', 'Taiwan', 'Italy', 'Denmark',
       'United Kingdom', 'Iceland', 'Azerbaijan', 'Georgia',
       'Philippines', 'Malaysia', 'Brunei', 'Slovenia', 'Finland',
       'Slovakia', 'Czechia', 'Eritrea', 'Japan', 'Paraguay', 'Yemen',
       'Saudi Arabia', 'Antarctica', 'N. Cyprus', 'Cyprus', 'Morocco',
       'Egypt', 'Libya', 'Ethiopia', 'Djibouti', 'Somaliland', 'Uganda',
       'Rwanda', 'Bosnia and Herz.', 'North Macedonia', 'Serbia',
       'Montenegro', 'Kosovo', 'Trinidad and Tobago', 'S. Sudan'],
      dtype=object)

In [14]:
gdf.query("name=='Malta'")

Empty GeoDataFrame
Columns: [pop_est, continent, name, iso_a3, gdp_md_est, geometry]
Index: []